#hero {
    background-image: linear-gradient(to bottom right, #4456B3, #281764);
}

#title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main {
    display: flex;
    justify-content: space-evenly;
}

#place {
    background-color: aqua;
    min-width: 20vw;
    min-height: 60vh;
    font-size: 2rem;
}

#search-bar {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#search-bar p,
.input,
.button {
    margin: 0.25rem 0.5rem;
    width: auto;
}

#history {
    margin: 0.5rem;
    border-top: 0.1rem solid;
    padding-top: 0.5rem;
}

#citys li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    font: black;
    background-color: lightgray;
    border-radius: 5px;
}

#dashboard {
    min-width: 76vw;
    min-height: 60vh;
}

#current {
    min-height: 45%;
    background-color: aqua;
}

#city {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

.temp,
.wind,
.humidity {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem;
}

#five-day  {
    min-height: 55%;
    background-color: aquamarine;
}