#hero {
    background-image: linear-gradient(to bottom right, #4456B3, #281764);
}

#title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-align: center;
}

#main {
    display: flex;
    justify-content: space-around;
}

#side-bar {
    min-width: 20vw;
    min-height: 60vh;
    font-size: 2rem;
}

#search-bar {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

#search-bar p,
.input,
.button {
    margin: 0.25rem 0.5rem;
    width: auto;
}

#history {
    margin: 0.5rem;
    border-top: 0.1rem solid;
    padding-top: 0.5rem;
}

#cities li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    font: black;
    background-color: lightgray;
    border-radius: 5px;
    margin: 0.3rem auto;
    cursor: pointer;
}

#dashboard {
    min-width: 76vw;
    min-height: 70vh;
}

#current {
    height: 45%;
    margin: 1rem auto;
    border: 0.1rem solid #323D4F;
}

#current .date {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 1rem;
    display: inline-block;
}

#current .temp,
#current .wind,
#current .humidity {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}

#current .weather-icon {
    height: 4.5rem;
}

.weather-icon {
    height: 3rem;
}

#five-day  {
    height: 55%;
    font-weight: bold;
}

#five-day p {
    font-size: 1.5rem;
    padding: 1rem 0;
}

#cards {
    display: flex;
    justify-content: space-between;
    min-height: 80%;
}

.card {
    padding: 0 0.5rem;
    background-color: #323D4F;
    width: 18%;
    color: white;
}